.media:first-child {
  margin-top:15px;
}
.media {
  overflow:visible;
  padding-left: none;
}
.media-link {
  display:block;
  background-color: #bbb;
  /*border: 2px solid #fff;*/
}
.media-link {
  margin-left: 0;
  box-shadow: 2px 2px 2px 0 #aaa;
}
.media-link:hover, .media-link:focus {
  outline: 4px solid #444;
}
.media a {
  color: black;
  border: 1px solid #ddd;
}
.media-heading {
  margin-top: 5px;
}
.media-left img {
  width: 60px;
  height: 60px;
  margin: 6px 0 0 6px;
}
.media-left img.energy {
  width: 149px;
  height: 149px;
  margin: 0 0 0 10px;
}
.media-body .data-list {
  list-style: none;
  padding-left: 0;
}
.media-body {
  padding:12px;
  background-color: white;
}
.temp {
  font-size: 48px;
  font-weight: bold;
}
.temp .desc {
  font-size:20px;
  display:block;
  font-weight: normal;
}
.temp small {
  font-size:0.4em;
  font-weight: normal;
  vertical-align:top;
  display:inline-block;
  margin-top:12px;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse a.navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse a.navbar-brand:focus, .navbar-inverse a.navbar-brand:hover {
    color: #fff;
    background-color: #9d9d9d;
}
.navbar-inverse .navbar-nav>li.active>a {
    color: #fff;
    background-color: #666;
    background-image: none;
}
input[type=range] {
  width:180px;
  display:inline;
}
